body {
  font-family: 'Arimo';
}

h4 {

  font-size:14px;
  color: #055fa3;
  padding-bottom:5px;
  


  
 
}

h5 {
  font-family: 'Arimo';
  font-size:12px;
 color: #055fa3;
 padding-bottom:5px;
 


}

h3 {
  font-family: 'Arimo';
  font-size:13px;
  color: #055fa3;


}

h2 {
  
  font-weight:800;
  font-family: 'Miniver';
  font-size:18px;



}



#headerbio p {
  
  margin: 0 auto;
}

#header {
  
  font-weight:800;
  font-family: 'Miniver';
  font-size: 48px;
  width:100%;
  text-align: left;

    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;

 

   }

* {
    margin:0;
    padding:0;
}


#container {
    width: 960px;
    margin:0 auto;
}



#copyright {
  font-family: 'Arimo', sans-serif;
  font-size: 10px;
    text-transform: uppercase;
  
}


a:link {
  color: #055fa3;
  text-decoration: none
}
a:active {
  color: #055fa3;
}

a:visited {
 color: #055fa3;
}

a { color: inherit; } 

#subtitle {
  font-family:'Arimo';
  font-weight:400;
  text-transform:uppercase;
  font-size: 12px;

  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
}


#center{
  width: 60%;
  position: center;
  font-family: Arial;
  font-size: 14px;
}

#writing{
   width: 53%;
    margin-left: auto;
    margin-right:auto;
}


}

ul {
    list-style-position: outside;
      
}


table { 
  width: 68%; 
  border-collapse: collapse; 
  text-align:left;

}
/* Zebra striping */
tr:nth-of-type(odd) { 

}

td, th { 
  padding: 11px; 
  font-size:11.5px;
  vertical-align: top;

}





@media screen and (max-width: 400px) {
    #imagegallery li {
        width: relative; /* define a proper width that you think is right */
    }
    #header {
        width: relative; /* define a proper width that you think is right */
        font-size:24px;
        text-align:left;
    }

    #headerbio {
      text-align:left;
      font-size:14px;
      width: relative;
      max-width:60%;
    }


    table { 
  width: relative; 

      
    }

}
