html, body {

margin:0;
padding:0;
text-decoration: none;

}

a:link {color: black;
  text-decoration-line: none;}      /* unvisited link */
       a:visited {color: black;}   /* visited link */
       a:hover {color: black;}     /* mouse over link */
       a:active {color: black;} 



div.title {
    font-family: 'Crimson+Text';
    font-style: normal;
  font-variant: normal;
  font-weight: 100;
  font-size:80px;
  text-align: center;
  color: #000000;
  padding-top: 10px;
  padding-bottom:0px;
text-decoration-line: none;

}

h4 {
  text-align: center;
  font-size: 20px;
  color: #bcbcbc;
  font-family: 'Verdana';
    font-style: normal;
  font-variant: normal;
}

h5 {
  text-align: center;
  font-size: 16px;
  color: #bcbcbc;
  font-family: 'Verdana';
}

div.titlehead {
  font-size:10px;
 background-color: mediumseagreen;
    color: white;
    padding:5px;
    padding-top: 10px;
    text-decoration: none;
    display: inline-block;
    font-family:'Roboto';
    position: relative;
    z-index: 2;
    margin:0;
    left:20px;


}


div.gallery {
    border: ;


}

div.gallery img {
    width: 100%;
    height: auto;
    padding: 10px;
    

}

div.desc {
    padding: 5px;
    padding-bottom:35px;
    text-align: center;
    font-size:12px;
    font-family: 'Roboto';
  
  
}

div.desc a:link {
  text-decoration: underline;
}

div.about {

  font-size:12px;
    font-family: 'Roboto';
    width: 500px;
    margin: 0 auto;
    text-align:left;


}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 10px;
    float: left;
    width: 24.99999%;
}

img:hover {
     opacity: 0.5;
}

@media only screen and (max-width: 900px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    display: table;
    margin: 0 auto;
    padding-bottom:50px;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    font-size:12px;
    font-family: 'Roboto';
    padding: 5px 5px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: mediumseagreen;
    color: white;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #808080}

.dropdown:hover .dropdown-content {
    display: block;
}

